In [1]:
#### 1.1. ייבא פנדה והפנה את החבילה כ-pd + טען את "telecom_churn.csv" והקצה למשתנה df <span style= color:#0033cc>(3 נקודות)</span>\

In [3]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('telecom_churn.csv')

In [9]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [ ]:
 Return the column labels/names

In [10]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
 Print the df shape (3 points)

In [11]:
df.shape

(3333, 20)

In [ ]:
2. מהו סך כל שיחות היום לפי מדינה וקידומת?

In [12]:
df2 = df.groupby(['State','Area code']).count()
df2.count()
df2.agg(["sum"])

,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
sum,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333

In [13]:
df2.reset_index(inplace=True)
df2

,State,Area code,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,AK,408,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
1,AK,415,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
2,AK,510,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
3,AL,408,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
4,AL,415,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,WV,415,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
149,WV,510,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
150,WY,408,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
151,WY,415,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41
152,WY,510,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19

In [14]:
df.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False

In [ ]:
3------------

In [15]:
df2=df['Churn'] = pd.to_numeric(df['Churn'], downcast='integer', errors='coerce')
df2

0       False
1       False
2       False
3       False
4       False
        ...
3328    False
3329    False
3330    False
3331    False
3332    False
Name: Churn, Length: 3333, dtype: bool

In [16]:
df.Churn = df.Churn.replace({True: 1, False: 0})
df.Churn

C:\Users\huser\AppData\Local\Temp\ipykernel_15776\2679179061.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.Churn = df.Churn.replace({True: 1, False: 0})

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: Churn, Length: 3333, dtype: int64

In [18]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [20]:
isChurn = df.Churn.eq(1).sum()/df.Churn.count()
isChurn

np.float64(0.14491449144914492)

In [30]:
dfChurn = df.loc[df['Churn'] == 1]

In [32]:

dfChurn['Total day minutes'].sum()

np.float64(99939.5)

3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') (5 points)

In [45]:
dfloyal = df.loc[df['Churn'] == 0]
dfloyal = dfloyal.loc[df['International plan'] == 'No']

In [46]:
dfloyal

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [48]:
dfloyal['Total intl calls'].max()

np.int64(19)

In [36]:
dfloyal['Total intl calls'].max()

np.int64(19)

In [58]:
def top(func,sort,n):
    return df.loc[func].sort_values(sort).head(n)

In [63]:
top(df.Churn== 1,'Total intl calls',3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2536,CT,119,408,No,No,0,294.2,100,50.01,232.5,53,19.76,195.0,64,8.78,9.0,1,2.43,0,1
2526,NJ,57,510,Yes,No,0,115.0,65,19.55,122.3,96,10.40,245.0,75,11.03,6.4,1,1.73,0,1
372,CA,151,415,Yes,No,0,218.0,57,37.06,114.4,88,9.72,269.2,95,12.11,12.4,1,3.35,0,1

In [64]:
top(df.Churn== 0,'Total intl calls',3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2362,ND,101,415,No,No,0,217.7,118,37.01,231.7,128,19.69,185.3,128,8.34,0.0,0,0.0,3,0
2345,FL,98,408,No,No,0,288.1,101,48.98,137.9,93,11.72,206.5,88,9.29,0.0,0,0.0,0,0
712,MO,106,415,No,No,0,114.4,104,19.45,78.3,101,6.66,232.7,78,10.47,0.0,0,0.0,2,0

In [79]:
def top1(df):
    return df.sort_values('Total intl calls', ascending=[False]).head(3)
df1 = df.groupby('International plan').apply(top1)
df1

C:\Users\huser\AppData\Local\Temp\ipykernel_15776\85415939.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df1 = df.groupby('International plan').apply(top1)

                        State  Account length  Area code International plan  \
International plan
No                 22      AZ             130        415                 No
                   982     ND              84        415                 No
                   377     ND              79        408                 No
Yes                3291    MI             119        510                Yes
                   957     NV             144        415                Yes
                   41      MD             135        408                Yes

                        Voice mail plan  Number vmail messages  \
International plan
No                 22                No                      0
                   982              Yes                     33
                   377               No                      0
Yes                3291             Yes                     22
                   957               No                      0
                   41               Yes                     41

                         Total day minutes  Total day calls  Total day charge  \
International plan
No                 22                183.0              112             31.11
                   982               159.1              106             27.05
                   377               205.7              123             34.97
Yes                3291              172.1              119             29.26
                   957               150.0               69             25.50
                   41                173.1               85             29.43

                         Total eve minutes  Total eve calls  Total eve charge  \
International plan
No                 22                 72.9               99              6.20
                   982               149.8              101             12.73
                   377               214.5              108             18.23
Yes                3291              223.6              133             19.01
                   957               285.9               73             24.30
                   41                203.9              107             17.33

                         Total night minutes  Total night calls  \
International plan
No                 22                  181.8                 78
                   982                 213.4                108
                   377                 226.1                106
Yes                3291                150.0                 94
                   957                 190.6                121
                   41                  122.2                 78

                         Total night charge  Total intl minutes  \
International plan
No                 22                  8.18                 9.5
                   982                 9.60                13.0
                   377                10.17                 6.7
Yes                3291                6.75                13.9
                   957                 8.58                 9.4
                   41                  5.50                14.6

                         Total intl calls  Total intl charge  \
International plan
No                 22                  19               2.57
                   982                 18               3.51
                   377                 18               1.81
Yes                3291                20               3.75
                   957                 15               2.54
                   41                  15               3.94

                         Customer service calls  Churn
International plan
No                 22                         0      0
                   982                        1      0
                   377                        1      0
Yes                3291                       1      1
                   957                        0      0
                   41                         0      1

In [92]:

df['total_charge'] = df[['Total day charge', 'Total eve charge','Total night charge','Total intl charge']].sum(axis=1)
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,75.56
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,59.24
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,62.29
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,66.80
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,52.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,0,60.10
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,0,63.53
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,0,67.74
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,0,57.53
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,0,77.01

In [95]:
df['Day_charge_pct'] = df['Total day charge']/df['total_charge']
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge,Day_charge_pct
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,0,75.56,0.596480
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,0,59.24,0.463707
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,0,62.29,0.664312
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,0,66.80,0.761976
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,0,52.09,0.544058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,279.1,83,12.56,9.9,6,2.67,2,0,60.10,0.441764
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,191.3,123,8.61,9.6,4,2.59,3,0,63.53,0.618448
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,191.9,91,8.64,14.1,6,3.81,2,0,67.74,0.453794
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,139.2,137,6.26,5.0,10,1.35,2,0,57.53,0.631844
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,241.4,77,10.86,13.7,4,3.70,0,0,77.01,0.517465

In [105]:
pip install matplotlib
import matplotlib.pyplot as plt

SyntaxError: invalid syntax (4111516058.py, line 1)